.home-container {
    overflow: hidden;
}

.main-carousel {
    margin-bottom: 15vh;
}

.main-carousel .slider {
    width: 100%;
    z-index: 1;
}

.slider img {
    width: 100%;
}

.slider-mobile {
    display: none;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 16px solid #ffffff;
}

.slick-next:before {
    border-right: none;
    border-left: 16px solid #ffffff;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.main-carousel:hover .slick-prev,
.main-carousel:hover .slick-next {
    display: block;
}

.servicos .text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.servicos .text h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 2vw;
}

.orange-line {
    background-color: #CD8C52;
    height: 2px;
    width: 35vw;
    display: inline-block;
    margin: 0 10px;
}

.card-carousel {
    display: flex;
    justify-content: center;
}

.services-slider {
    width: 100%;
    padding: 40px;
}

.card-servico {
    width: 100%;
    padding-right: 30px;
    cursor: grab;
    outline: none;
}

.card-servico img {
    width: 100%;
}

.service-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    font-weight: 500;
    background: #FFF;
    height: 10vh;
    border-radius: 0 0 10px 25px;
    cursor: pointer;
}

.service-icon {
    font-size: 32px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: white;
    border-radius: 50px;
    max-width: 60%;
}

.modal-content .modal-text {
    padding: 5vh;
}

.modal-content img {
    width: 100%;
}

.modal p {
    margin-bottom: 5vh;
}

.modal button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: darkorange;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.sobre .sobre-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.sobre .sobre-title h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5vh;
}

.sobre .sobre-title hr {
    border: 1px solid #CD8C52;
    width: 25vw;
}

.sobre-card,
.sobre-cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-card {
    width: 60%;
}

.sobre-card>div {
    padding: 3% 10%;
}

.sobre-cardHeader {
    width: 100%;
    background: #CD8C52;
    border-radius: 30px;
}

.sobre-cardHeader .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-cardHeader .card-title h2 {
    text-transform: uppercase;
    color: white;
}

.sobrecard-titletext2 {
    font-size: 2.2rem;
}

.sobre-cardHeader .card-subtitle {
    margin-top: 6vh;
}

.sobre-cardHeader .card-subtitle h2 {
    color: white;
    font-weight: 400;
    text-align: center;
}

.sobre-cardBody>h3 {
    text-align: center;
    font-weight: 600;
}

.cardBody-contato {
    margin-top: 4vh;
    text-align: center;
}

.cardBody-contato h3 {
    margin-bottom: 6vh;
    text-align: center;
}

.cardBody-contato span {
    color: #CD8C52;
}

.cardBody-contato a {
    text-transform: uppercase;
    text-decoration: none;
    color: #CD8C52;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 5vw;
    font-weight: 800;
}

.parceiros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.parceiros-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parceiros-imagem img{
    width: 80%;
}

.logo-parceiros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-logoParceiros{
    margin: 1vw;
}

@media screen and (max-width: 999px) {

    .main-carousel {
        margin-top: 4vh;
        margin-bottom: 0;
    }

    .slider-desktop {
        display: none;
    }

    .slider-mobile {
        display: block;
    }

    .servicos {
        padding-top: 15vh;
    }

    .orange-line {
        width: 10vw;
    }

    .services-slider {
        width: 100%;
        padding: 10px;
    }

    .modal {
        top: 14vh;
    }

    .modal-content {
        max-width: 100%;
    }

    .sobre{
        padding-top: 16vh;
        margin-top: 0;
    }

    .sobre-card {
        width: 100%;
        padding: 10px;
    }

    .sobre .sobre-title h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .sobre .sobre-title hr {
        width: 45vw;
    }


    .sobre-card>div {
        padding: 10% 2%;
    }

    .sobre-cardHeader .card-subtitle {
        margin-top: 3vh;
    }

    .sobre-cardHeader .card-subtitle h2 {
        font-size: 1.4rem;
    }

}