.home-container {
    overflow: hidden;
}

.main-carousel {
    margin-bottom: 15vh;
}

.main-carousel .slider {
    width: 100%;
    z-index: 1;
}

.slider img {
    width: 100%;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.slick-prev:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 16px solid #ffffff;
}

.slick-next:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 16px solid #ffffff;
}


.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.main-carousel:hover .slick-prev,
.main-carousel:hover .slick-next {
    display: block;
}