footer {
    display: flex;
    flex-direction: column;
    background: #CD8C52;
    color: #FFF;
    margin-top: 4vh;
    padding: 5% 0 2% 0;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.box .logo {
    width: 100%;
    margin-bottom: 4vh;
}

.box .logo img {
    width: 100%;
}

.box p {
    font-weight: 500;
    font-size: 22px;
}

.navegue {
    width: 10%;
}

.navegue h4 {
    font-size: 20px;
    margin-bottom: 4vh;
}

.navegue p {
    font-size: 18px;
}

.fale-conosco h4 {
    font-size: 20px;
    margin-bottom: 3vh;
}

.fale-conosco .contato-btn {
    display: flex;
    margin: 1vh 0;
}

.fale-conosco .contato-btn a {
    text-decoration: none;
    color: #FFF;
    margin-left: 0.5vw;
    font-size: 18px;
}

.fale-conosco .contato-btn .icon-size {
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #FFF;
    margin: 1vh 0;
}

footer hr {
    width: 90vw;
    margin: 8vh 0 4vh 0;
    align-self: center;
}

footer .reserved {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .reserved .margin {
    margin-right: 1vw;
}

@media screen and (max-width: 999px) {

    .d-flex {
        flex-direction: column;
        padding: 8vw;
    }

    .flex-column {
        width: 100%;
    }

    .navegue {
        display: none;
    }

    .fale-conosco h4 {
        margin-top: 5vh;
    }
}